<h1> <%= @name %> </h1>
<h2> Team Motto: <%= @motto %> </h2>
<% @heroes.each do |hero| %>
<h2> Hero Name: <%= hero.name %> </h2>
  <li> Hero Power: <%= hero.power %> </li>
  <li> Hero Biography: <%= hero.biography %> </li>
<% end %>
